@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Antonio';
    src: url('/fonts/Antonio-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Spartan';
    src: url('/fonts/League-Spartan-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Spartan';
    src: url('/fonts/League-Spartan-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: bold;
  }
}
